html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #09192F;
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
}

.lb-font {
  color: #64ffda;
}

.gray-font {
  color: #94afd4;
}

.smoothgray-font {
  color: #ccd6f6;
}

.darkpurple-font {
  color: #987cb5;
}

.elegant-font {
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}