html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #09192F;
  font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
}

.lb-font {
  color: #64ffda;
}

.gray-font {
  color: #94afd4;
}

.smoothgray-font {
  color: #ccd6f6;
}

.darkpurple-font {
  color: #987cb5;
}

.smoothpurple-font {
  color:#c3abdc
}

.elegant-font {
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

.section-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20vh 0;
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

.section-title h2 {
  text-align: center;
  font-size: clamp(2rem, 4vw, 3rem);
  margin: 0 0 40px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-title h2::before,
.section-title h2::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #64ffda;
}